- name: Install Git
  ansible.builtin.dnf:
    name: "{{source_control_package}}"
    state: present
    update_cache: yes

- name: Install Nginx
  ansible.builtin.dnf:
    name: "{{webserver_package}}"
    state: present
    update_cache: yes

- name: Enable and start Nginx
  ansible.builtin.service:
    name: "{{webserver_service}}"
    state: started
    enabled: yes

- name: Ensure app root exists
  ansible.builtin.file:
    path: "{{ app_root }}"
    state: directory
    owner: "{{webserver_owner}}"
    group: "{{webserver_owner}}"
    mode: "0755"

- name: Set git repo to accept changes
  ansible.builtin.git_config:
    scope: global
    name: "safe.directory"
    value: "{{ app_root }}"
    
- name: Clone portfolio repo
  ansible.builtin.git:
    repo: "{{ repo_url }}"
    dest: "{{ app_root }}"
    version: main
    update: yes
    accept_hostkey: yes
    force: yes
  register: portfolio_clone

- name: Set permissions on app root
  ansible.builtin.file:
    path: "{{ app_root }}"
    owner: "{{webserver_owner}}"
    group: "{{webserver_owner}}"
    mode: "0755"
    recurse: yes

- name: Configure Nginx site
  ansible.builtin.template:
    src: "{{webserver_config_template}}"
    dest: "{{webserver_config_path}}"
  notify: Reload webserver

- name: Test Nginx config
  ansible.builtin.command: nginx -t
  changed_when: false