image: astral/uv:0.10-python3.13-alpine

# Change pip's cache directory to be inside the project directory since we can
# only cache local items.
variables:
  #PIP_CACHE_DIR: "$CI_PROJECT_DIR/.cache/pip"

before_script:
  - uv tool install --with-executables-from ansible-core,ansible-lint ansible
  #- uvx ansible --version
  #- uvx ansible-playbook -i inventory.ini site.yml


build:
  script:
    - cd ansible
    - ansible-playbook -i inventory-dev.ini site.yml --check
