spec:
  inputs:
    environment:
      type: string
      options: ["dev", "staging", "prod"]
      default: "dev"
      description: "Select the environment to deploy to"
---
image: huddlesk/uv-ansible-terraform-alpine:0-10.2-2.1-14.1

stages:
  - lint
  - provision
  - configure

before_script:
  - echo "$(uv self version)"
  - echo "$(ansible --version)"
  - echo "$(terraform --version)"
  - echo "Selected environment $[[ inputs.environment ]]"

lint:
  stage: lint
  when: manual
  variables:
    TF_VAR_env: "$[[ inputs.environment ]]"
  script:
    - set -o pipefail
    - cd ansible
    - ansible-lint site.yml | tee ansible-lint.txt
    - cd ../terraform/environments/$[[ inputs.environment ]]
    - terraform init
    - terraform plan -out=tfplan
  artifacts:
    paths:
      - ansible/ansible-lint.txt
      - terraform/environments/$[[ inputs.environment ]]/tfplan
    untracked: false
    when: always
    expire_in: "30 days"

provision:
  stage: provision
  environment: $[[ inputs.environment ]]
  when: manual
  script:
    - cd terraform/environments/$[[ inputs.environment ]]
    - terraform init
    - terraform apply -auto-approve tfplan
  needs:
    - lint

configure:
  stage: configure
  environment: $[[ inputs.environment ]]
  when: manual
  variables:
    ANSIBLE_HOST_KEY_CHECKING: "False"
  script:
    - curl --silent "https://gitlab.com/gitlab-org/incubation-engineering/mobile-devops/download-secure-files/-/raw/main/installer" | sh
    - mkdir ~/.ssh && chmod 700 ~/.ssh && mv $CI_PROJECT_DIR/.secure_files/id_ed25519_npp ~/.ssh/id_ed25519 && chmod 600 ~/.ssh/id_ed25519
    - cd ansible
    - ansible-playbook -i inventory-$[[ inputs.environment ]].ini site.yml
  needs:
    - provision