spec:
  inputs:
    environment:
      options: ["dev", "staging", "prod"]
      description: "Select the environment to deploy to"
---

image: huddlesk/uv-ansible-terraform-alpine:0-10.2-2.1-14.1

stages:
  - lint
  - provision
  - configure

before_script:
  - echo "$(uv self version)"
  - echo "$(ansible --version)"
  - echo "$(terraform --version)"
  - echo "Selected environment $[[ inputs.environment ]]"

lint:
  stage: lint
  variables:
    TF_VAR_env: "dev"
  script:
    - set -o pipefail
    #- uv tool install ansible-lint
    - cd ansible
    - ansible-lint site.yml | tee ansible-lint.txt
    - cd ../terraform/environments/dev
    - terraform init
    - terraform plan -out=tfplan
  artifacts:
    paths:
      - ansible/ansible-lint.txt
      - terraform/environments/dev/tfplan
    untracked: false
    when: always
    access: all
    expire_in: "30 days"

provision:
  stage: provision
  when: manual
  script:
    - cd terraform/environments/dev
    - cat tfplan
    - '[ -f "tfplan" ] && echo "Exists" || echo "Missing"'
    - terraform init
    #- terraform plan -out=tfplan
    - terraform apply tfplan

configure:
  stage: configure
  when: manual
  variables:
    ANSIBLE_HOST_KEY_CHECKING: False
  script:
    - curl --silent "https://gitlab.com/gitlab-org/incubation-engineering/mobile-devops/download-secure-files/-/raw/main/installer" | sh
    - mkdir ~/.ssh && chmod 700 ~/.ssh && mv $CI_PROJECT_DIR/.secure_files/id_ed25519_npp ~/.ssh/id_ed25519 && chmod 600 ~/.ssh/id_ed25519
    - cd ansible
    - ansible-playbook -i inventory-dev.ini site.yml