#image: astral/uv:debian
#image: astral/uv:0.10-python3.13-alpine
image: huddlesk/uv-ansible-alpine:0.10.0

# Change pip's cache directory to be inside the project directory since we can
# only cache local items.


before_script:
  - echo "$(uv self version)"
  - echo "$(ansible --version)"
  - curl --silent "https://gitlab.com/gitlab-org/incubation-engineering/mobile-devops/download-secure-files/-/raw/main/installer" | sh
  - mkdir ~/.ssh && chmod 700 ~/.ssh && mv $CI_PROJECT_DIR/.secure_files/id_ed25519_npp ~/.ssh/id_ed25519 && chmod 600 ~/.ssh/id_ed25519
  
build:
  when: manual
  variables:
    ANSIBLE_HOST_KEY_CHECKING: False
    #SSH_PRIVATE_KEY_FILE: "$CI_PROJECT_DIR/.secure_files/id_ed25519_npp"
  script:
    #- chmod 600 $SSH_PRIVATE_KEY_FILE
    #- ssh -T -o StrictHostKeyChecking=no -i $SSH_PRIVATE_KEY_FILE ec2-user@44.204.116.61
    #- echo "$SSH_PRIVATE_KEY_FILE"
    #- echo "$ANSIBLE_HOST_KEY_CHECKING"
    #- ls -la "$CI_PROJECT_DIR/.secure_files/"
    - cd ansible
    #- ansible-playbook -i inventory-dev.ini site.yml --extra-vars="ansible_ssh_private_key_file=$SSH_PRIVATE_KEY_FILE"
    - ansible-playbook -i inventory-dev.ini site.yml