image: astral/uv:debian

# Change pip's cache directory to be inside the project directory since we can
# only cache local items.


before_script:
  - uv tool install --with-executables-from ansible-core,ansible-lint ansible
  - curl --silent "https://gitlab.com/gitlab-org/incubation-engineering/mobile-devops/download-secure-files/-/raw/main/installer" | bash
  #- uvx ansible --version
  #- uvx ansible-playbook -i inventory.ini site.yml

build:
  when: manual
  variables:
  #PIP_CACHE_DIR: "$CI_PROJECT_DIR/.cache/pip"
    ANSIBLE_HOST_KEY_CHECKING: False
    SSH_PRIVATE_KEY_FILE: "$CI_PROJECT_DIR/.secure_files/id_ed25519"
  script:
    - cd ansible
    - ansible-playbook -i inventory-dev.ini site.yml --check --extra-vars="ansible_ssh_private_key_file=$SSH_PRIVATE_KEY_FILE"
