# IAC-AWS-PORTFOLIO
# This is a single pipeline to handle the entire release
# cycle.  It will build and deploy on dev and then prod
# Review checkpoints are there to confirm artifacts before deployment 

trigger: none
#- main

stages:
- stage: Build_Dev
  variables: 
  - group: "aws-dev-tfvars"
  displayName: 'Dev - Terraform Planning and Code Build'
  jobs:
  - job: Plan
    pool:
      vmImage: 'ubuntu-latest'
    steps:
    - task: TerraformInstaller@1
      inputs:
        terraformVersion: 'latest'
    - task: TerraformTask@5
      inputs:
        provider: 'aws'
        command: 'init'
        workingDirectory: '$(System.DefaultWorkingDirectory)/terraform/environments/$(env)'
        backendServiceAWS: 'aws-tf-connection'
        backendAWSBucketName: 'huddlesk-tf-state-bucket'
        backendAWSKey: 'environments/$(env)/terraform.tfstate'
    - task: TerraformTaskV4@4
      inputs:
        provider: 'aws'
        command: 'plan'
        workingDirectory: '$(System.DefaultWorkingDirectory)/terraform/environments/$(env)'
        commandOptions: '-out=tfplan'
        environmentServiceNameAWS: 'aws-tf-connection'
      env:
        TF_VAR_env: $(env)
        TF_VAR_ami_id: $(ami_id)
        TF_VAR_unique_suffix: $(unique_suffix)
        TF_VAR_key_name: $(key_name)
        AWS_DEFAULT_REGION: 'us-east-1'
    - task: PublishBuildArtifacts@1
      inputs:
        PathtoPublish: '$(System.DefaultWorkingDirectory)/terraform/environments/$(env)/tfplan'
        ArtifactName: 'tfplan-$(env)'
        publishLocation: 'Container'

- stage: Deploy_Dev
  variables: 
  - group: "aws-dev-tfvars"
  displayName: "Dev - Terraform Apply and Configure with Ansible"
  dependsOn: Build_Dev
  jobs:
  - deployment: Apply_Terraform
    environment: 'AWS Portfolio Dev'
    pool:
      vmImage: 'ubuntu-latest'
    strategy:
      runOnce:
        deploy:
          steps:
          - checkout: self
          - task: TerraformInstaller@1
            inputs:
              terraformVersion: 'latest'
          - task: DownloadBuildArtifacts@1
            inputs:
              buildType: 'current'
              downloadType: 'single'
              artifactName: 'tfplan-$(env)'
              downloadPath: '$(System.ArtifactsDirectory)'
          - task: TerraformTaskV4@4
            inputs:
              provider: 'aws'
              command: 'init'
              workingDirectory: '$(System.DefaultWorkingDirectory)/terraform/environments/$(env)'
              backendServiceAWS: 'aws-tf-connection'
              backendAWSBucketName: 'huddlesk-tf-state-bucket'
              backendAWSKey: 'environments/$(env)/terraform.tfstate'
          - task: TerraformTaskV4@4
            inputs:
              provider: 'aws'
              command: 'apply'
              workingDirectory: '$(System.DefaultWorkingDirectory)/terraform/environments/$(env)'
              commandOptions: '$(System.ArtifactsDirectory)/tfplan-$(env)/tfplan'
              environmentServiceNameAWS: 'aws-tf-connection'
            env:
              AWS_DEFAULT_REGION: 'us-east-1'
          - task: PublishPipelineArtifact@1
            inputs:
              targetPath: '$(System.DefaultWorkingDirectory)/ansible/inventory-$(env).ini'
              artifact: 'inventory-$(env)'
              publishLocation: 'pipeline'
          - task: Bash@3
            name: deployOutput
            inputs:
              targetType: 'inline'
              script: |
                ec2_public_ip=$(terraform output -raw ec2_public_ip)
                echo "$ec2_public_ip" > $(Agent.TempDirectory)/ec2_public_ip.txt
                echo $ec2_public_ip
                cat $(Agent.TempDirectory)/ec2_public_ip.txt
              workingDirectory: '$(System.DefaultWorkingDirectory)/terraform/environments/$(env)'
              failOnStderr: true
          - publish: $(Agent.TempDirectory)/ec2_public_ip.txt
            artifact: deployOutput

  - job: Configure_Ansible
    dependsOn: Apply_Terraform
    pool:
        vmImage: 'ubuntu-latest'
    steps:
      - task: DownloadPipelineArtifact@2
        inputs:
          artifact: deployOutput
          targetPath: $(Agent.TempDirectory)
      - bash: | 
          cat $(Agent.TempDirectory)/ec2_public_ip.txt
          val=$(cat $(Agent.TempDirectory)/ec2_public_ip.txt)
          echo "##vso[task.setvariable variable=ec2_public_ip;isOutput=true]$val"
        name: output
      - bash: |
          echo "$(output.ec2_public_ip)"
      - checkout: self
      - task: InstallSSHKey@0
        inputs:
          knownHostsEntry: '129.213.85.100 ssh-ed25519 AAAAC3NzaC1lZDI1NTE5AAAAIJZvJMxFYxlsEZr+t8Wj7wxvSazfw5wTaJfBmlDqXw0S'
          sshPublicKey: 'ssh-ed25519 AAAAC3NzaC1lZDI1NTE5AAAAIOVYKE+w7YHMSuWs0Lv9nx54Ewq9Tt4PiI0MMzcbhA1e Generated By Termius'
          sshPassphrase: '$(passphrase)'
          sshKeySecureFile: 'id_ed25519'
      - task: DownloadPipelineArtifact@2
        inputs:
          buildType: 'current'
          artifactName: 'inventory-$(env)'
          targetPath: '$(System.DefaultWorkingDirectory)/ansible'
      - task: CmdLine@2
        inputs:
          script: 'cat $(System.DefaultWorkingDirectory)/ansible/inventory-$(env).ini'
      - task: Ansible@0
        inputs:
          ansibleInterface: 'agentMachine'
          playbookPathOnAgentMachine: '$(System.DefaultWorkingDirectory)/ansible/site.yml'
          inventoriesAgentMachine: 'file'
          inventoryFileOnAgentMachine: '$(System.DefaultWorkingDirectory)/ansible/inventory-$(env).ini'
          failOnStdErr: false
        env:
          ANSIBLE_HOST_KEY_CHECKING: False

- stage: Build_Prod
  dependsOn: Build_Dev
  variables: 
  - group: "aws-prod-tfvars"
  displayName: 'Prod - Terraform Planning and Code Build'
  jobs:
  - job: Plan
    pool:
      vmImage: 'ubuntu-latest'
    steps:
    - task: TerraformInstaller@1
      inputs:
        terraformVersion: 'latest'
    - task: TerraformTask@5
      inputs:
        provider: 'aws'
        command: 'init'
        workingDirectory: '$(System.DefaultWorkingDirectory)/terraform/environments/$(env)'
        backendServiceAWS: 'aws-tf-connection'
        backendAWSBucketName: 'huddlesk-tf-state-bucket'
        backendAWSKey: 'environments/$(env)/terraform.tfstate'
    - task: TerraformTaskV4@4
      inputs:
        provider: 'aws'
        command: 'plan'
        workingDirectory: '$(System.DefaultWorkingDirectory)/terraform/environments/$(env)'
        commandOptions: '-out=tfplan'
        environmentServiceNameAWS: 'aws-tf-connection'
      env:
        TF_VAR_env: $(env)
        TF_VAR_ami_id: $(ami_id)
        TF_VAR_unique_suffix: $(unique_suffix)
        TF_VAR_key_name: $(key_name)
        AWS_DEFAULT_REGION: 'us-east-1'
    - task: PublishBuildArtifacts@1
      inputs:
        PathtoPublish: '$(System.DefaultWorkingDirectory)/terraform/environments/$(env)/tfplan'
        ArtifactName: 'tfplan-$(env)'
        publishLocation: 'Container'

- stage: Deploy_Prod
  displayName: "Prod - Terraform Apply and Configure with Ansible"
  variables: 
  - group: "aws-prod-tfvars"
  trigger: manual
  #dependsOn: Build_Prod
  jobs:
  - deployment: Apply_Terraform
    environment: 'AWS Portfolio Prod'
    pool:
      vmImage: 'ubuntu-latest'
    strategy:
      runOnce:
        deploy:
          steps:
          - checkout: self
          - task: TerraformInstaller@1
            inputs:
              terraformVersion: 'latest'
          - task: DownloadBuildArtifacts@1
            inputs:
              buildType: 'current'
              downloadType: 'single'
              artifactName: 'tfplan-$(env)'
              downloadPath: '$(System.ArtifactsDirectory)'
          - task: TerraformTaskV4@4
            inputs:
              provider: 'aws'
              command: 'init'
              workingDirectory: '$(System.DefaultWorkingDirectory)/terraform/environments/$(env)'
              backendServiceAWS: 'aws-tf-connection'
              backendAWSBucketName: 'huddlesk-tf-state-bucket'
              backendAWSKey: 'environments/$(env)/terraform.tfstate'
          - task: TerraformTaskV4@4
            inputs:
              provider: 'aws'
              command: 'apply'
              workingDirectory: '$(System.DefaultWorkingDirectory)/terraform/environments/$(env)'
              commandOptions: '$(System.ArtifactsDirectory)/tfplan-$(env)/tfplan'
              environmentServiceNameAWS: 'aws-tf-connection'
            env:
              AWS_DEFAULT_REGION: 'us-east-1'
          - task: PublishPipelineArtifact@1
            inputs:
              targetPath: '$(System.DefaultWorkingDirectory)/ansible/inventory-$(env).ini'
              artifact: 'inventory-$(env)'
              publishLocation: 'pipeline'
              
  - job: Configure_Ansible
    dependsOn: Apply_Terraform
    pool:
        vmImage: 'ubuntu-latest'
    steps:
      - checkout: self
      - task: InstallSSHKey@0
        inputs:
          knownHostsEntry: '129.213.85.100 ssh-ed25519 AAAAC3NzaC1lZDI1NTE5AAAAIJZvJMxFYxlsEZr+t8Wj7wxvSazfw5wTaJfBmlDqXw0S'
          sshPublicKey: 'ssh-ed25519 AAAAC3NzaC1lZDI1NTE5AAAAIOVYKE+w7YHMSuWs0Lv9nx54Ewq9Tt4PiI0MMzcbhA1e Generated By Termius'
          sshPassphrase: '$(passphrase)'
          sshKeySecureFile: 'id_ed25519'
      - task: DownloadPipelineArtifact@2
        inputs:
          buildType: 'current'
          artifactName: 'inventory-$(env)'
          targetPath: '$(System.DefaultWorkingDirectory)/ansible'
      - task: CmdLine@2
        inputs:
          script: 'cat $(System.DefaultWorkingDirectory)/ansible/inventory-$(env).ini'
      - task: Ansible@0
        inputs:
          ansibleInterface: 'agentMachine'
          playbookPathOnAgentMachine: '$(System.DefaultWorkingDirectory)/ansible/site.yml'
          inventoriesAgentMachine: 'file'
          inventoryFileOnAgentMachine: '$(System.DefaultWorkingDirectory)/ansible/inventory-$(env).ini'
          failOnStdErr: false
        env:
          ANSIBLE_HOST_KEY_CHECKING: False