# Starter pipeline
# Start with a minimal pipeline that you can customize to build and deploy your code.
# Add steps that build, run tests, deploy, and more:
# https://aka.ms/yaml

trigger:
- main

stages:
- stage: Build_Dev
  variables: 
  - group: "aws-dev-tfvars"
  displayName: 'Terraform Planning and Code Build'
  jobs:
  - job: Plan
    pool:
      vmImage: 'ubuntu-latest'
    steps:
    - task: TerraformInstaller@1
      inputs:
        terraformVersion: 'latest'
    - task: TerraformTask@5
      inputs:
        provider: 'aws'
        command: 'init'
        workingDirectory: '$(System.DefaultWorkingDirectory)/terraform/environments/$(env)'
        backendServiceAWS: 'aws-tf-connection'
        backendAWSBucketName: 'huddlesk-tf-state-bucket'
        backendAWSKey: 'environments/dev/terraform.tfstate'
    - task: TerraformTaskV4@4
      inputs:
        provider: 'aws'
        command: 'plan'
        workingDirectory: '$(System.DefaultWorkingDirectory)/terraform/environments/$(env)'
        commandOptions: '-out=tfplan'
        environmentServiceNameAWS: 'aws-tf-connection'
      env:
        TF_VAR_env: $(env)
        TF_VAR_ami_id: $(ami_id)
        TF_VAR_unique_suffix: $(unique_suffix)
        TF_VAR_key_name: $(key_name)
        AWS_DEFAULT_REGION: 'us-east-1'
    - task: PublishBuildArtifacts@1
      inputs:
        PathtoPublish: '$(System.DefaultWorkingDirectory)/terraform/environments/$(env)/tfplan'
        ArtifactName: 'tfplan'
        publishLocation: 'Container'

- stage: Deploy_Dev
  displayName: "Terraform Apply and Configure with Ansible"
  dependsOn: Build
  jobs:
  - deployment: Apply_Terraform
    environment: 'AWS Portfolio Dev'
    pool:
      vmImage: 'ubuntu-latest'
    strategy:
      runOnce:
        deploy:
          steps:
          - checkout: self
          - task: TerraformInstaller@1
            inputs:
              terraformVersion: 'latest'
          - task: DownloadBuildArtifacts@1
            inputs:
              buildType: 'current'
              downloadType: 'single'
              artifactName: 'tfplan'
              downloadPath: '$(System.ArtifactsDirectory)'
          - task: TerraformTaskV4@4
            inputs:
              provider: 'aws'
              command: 'init'
              workingDirectory: '$(System.DefaultWorkingDirectory)/terraform/environments/$(env)'
              backendServiceAWS: 'aws-tf-connection'
              backendAWSBucketName: 'huddlesk-tf-state-bucket'
              backendAWSKey: 'environments/dev/terraform.tfstate'
          - task: CmdLine@2
            inputs:
              script: 'ls /home/vsts/work/1/a/tfplan'
          - task: TerraformTaskV4@4
            inputs:
              provider: 'aws'
              command: 'apply'
              workingDirectory: '$(System.DefaultWorkingDirectory)/terraform/environments/'
              commandOptions: '$(System.ArtifactsDirectory)/tfplan/tfplan'
              environmentServiceNameAWS: 'aws-tf-connection'
            env:
              AWS_DEFAULT_REGION: 'us-east-1'
  - job: Ansible_Configuration
    dependsOn: Apply_Terraform
    pool:
        vmImage: 'ubuntu-latest'
    steps:
      - checkout: self
      - task: InstallSSHKey@0
        inputs:
          knownHostsEntry: '129.213.85.100 ssh-ed25519 AAAAC3NzaC1lZDI1NTE5AAAAIJZvJMxFYxlsEZr+t8Wj7wxvSazfw5wTaJfBmlDqXw0S'
          sshPublicKey: 'ssh-ed25519 AAAAC3NzaC1lZDI1NTE5AAAAIOVYKE+w7YHMSuWs0Lv9nx54Ewq9Tt4PiI0MMzcbhA1e Generated By Termius'
          sshPassphrase: '$(passphrase)'
          sshKeySecureFile: 'id_ed25519'
      - task: CmdLine@2
        inputs:
          script: 'cat $(System.DefaultWorkingDirectory)/ansible/inventory-$(env).ini'
      - task: Ansible@0
        inputs:
          ansibleInterface: 'agentMachine'
          playbookPathOnAgentMachine: '$(System.DefaultWorkingDirectory)/ansible/site.yml'
          inventoriesAgentMachine: 'file'
          inventoryFileOnAgentMachine: '$(System.DefaultWorkingDirectory)/ansible/inventory-$(env).ini'
          failOnStdErr: false
        env:
          ANSIBLE_HOST_KEY_CHECKING: False

- stage: Build_Prod
  dependsOn: Build_Dev
  variables: 
  - group: "aws-prod-tfvars"
  displayName: 'Terraform Planning and Code Build'
  jobs:
  - job: Plan
    pool:
      vmImage: 'ubuntu-latest'
    steps:
    - task: TerraformInstaller@1
      inputs:
        terraformVersion: 'latest'
    - task: TerraformTask@5
      inputs:
        provider: 'aws'
        command: 'init'
        workingDirectory: '$(System.DefaultWorkingDirectory)/terraform/environments/$(env)'
        backendServiceAWS: 'aws-tf-connection'
        backendAWSBucketName: 'huddlesk-tf-state-bucket'
        backendAWSKey: 'environments/dev/terraform.tfstate'
    - task: TerraformTaskV4@4
      inputs:
        provider: 'aws'
        command: 'plan'
        workingDirectory: '$(System.DefaultWorkingDirectory)/terraform/environments/$(env)'
        commandOptions: '-out=tfplan'
        environmentServiceNameAWS: 'aws-tf-connection'
      env:
        TF_VAR_env: $(env)
        TF_VAR_ami_id: $(ami_id)
        TF_VAR_unique_suffix: $(unique_suffix)
        TF_VAR_key_name: $(key_name)
        AWS_DEFAULT_REGION: 'us-east-1'
    - task: PublishBuildArtifacts@1
      inputs:
        PathtoPublish: '$(System.DefaultWorkingDirectory)/terraform/environments/$(env)/tfplan'
        ArtifactName: 'tfplan'
        publishLocation: 'Container'