# Starter pipeline
# Start with a minimal pipeline that you can customize to build and deploy your code.
# Add steps that build, run tests, deploy, and more:
# https://aka.ms/yaml

trigger:
- main

stages:
- stage: Build
  variables: 
  - group: "aws-dev-tfvars"
  displayName: 'Terraform Planning and Code Build'
  jobs:
  - job: Plan
    pool:
      vmImage: 'ubuntu-latest'
    steps:
    - task: TerraformInstaller@1
      inputs:
        terraformVersion: 'latest'
    - task: TerraformTask@5
      inputs:
        provider: 'aws'
        command: 'init'
        workingDirectory: '$(System.DefaultWorkingDirectory)/terraform/environments/dev'
        backendServiceAWS: 'aws-tf-connection'
        backendAWSBucketName: 'huddlesk-tf-state-bucket'
        backendAWSKey: 'environments/dev/terraform.tfstate'
    - task: TerraformTaskV4@4
      inputs:
        provider: 'aws'
        command: 'plan'
        workingDirectory: '$(System.DefaultWorkingDirectory)/terraform/environments/dev'
        commandOptions: '-out=tfplan'
        environmentServiceNameAWS: 'aws-tf-connection'
      env:
        TF_VAR_env: $(env)
        TF_VAR_ami_id: $(ami_id)
        TF_VAR_unique_suffix: $(unique_suffix)
        TF_VAR_key_name: $(key_name)
        AWS_DEFAULT_REGION: 'us-east-1'
    - task: PublishBuildArtifacts@1
      inputs:
        PathtoPublish: '$(System.DefaultWorkingDirectory)/terraform/environments/dev/tfplan'
        ArtifactName: 'tfplan'
        publishLocation: 'Container'

- stage: Deploy
  dependsOn: Build
  jobs:
  - deployment: Apply
    environment: 'AWS Portfolio Dev'
    pool:
      vmImage: 'ubuntu-latest'
    strategy:
      runOnce:
        deploy:
          steps:
          - task: TerraformInstaller@1
            inputs:
              terraformVersion: 'latest'
          - task: DownloadBuildArtifacts@1
            inputs:
              buildType: 'current'
              downloadType: 'single'
              artifactName: 'tfplan'
              downloadPath: '$(System.ArtifactsDirectory)'
          - task: TerraformTaskV4@4
            inputs:
              provider: 'aws'
              command: 'init'
              workingDirectory: '$(System.DefaultWorkingDirectory)/terraform/environments/dev'
              backendServiceAWS: 'aws-tf-connection'
              backendAWSBucketName: 'huddlesk-tf-state-bucket'
              backendAWSKey: 'environments/dev/terraform.tfstate'
          - task: TerraformTaskV4@4
            inputs:
              provider: 'aws'
              command: 'apply'
              commandOptions: '$(System.ArtifactsDirectory)/tfplan'
              environmentServiceNameAWS: 'aws-tf-connection'
