# Starter pipeline
# Start with a minimal pipeline that you can customize to build and deploy your code.
# Add steps that build, run tests, deploy, and more:
# https://aka.ms/yaml

trigger:
- main

stages:
- stage: Build
  displayName: 'Terraform Plan'
  jobs:
  - job: Plan
    pool:
      vmImage: 'ubuntu-latest'
    steps:
    - task: TerraformInstaller@1
      inputs:
        terraformVersion: 'latest'
    - task: TerraformTask@5
      inputs:
        provider: 'aws'
        command: 'init'
        workingDirectory: '$(System.DefaultWorkingDirectory)/terraform/environments/dev'
        backendServiceAWS: 'aws-tf-connection'
        backendAWSBucketName: 'huddlesk-tf-state-bucket'
        backendAWSKey: 'environments/dev/terraform.tfstate'
    - task: TerraformTaskV4@4
      inputs:
        provider: 'aws'
        command: 'plan'
        workingDirectory: '$(System.DefaultWorkingDirectory)/terraform/environments/dev'
        commandOptions: '-out=tfplan'
        environmentServiceNameAWS: 'aws-tf-connection'
      env:
        TF_VAR_env: $(env)
        TF_VAR_ami_id: $(ami_id)
        TF_VAR_unique_suffix: $(unique_suffix)
        TF_VAR_key_name: $(key_name)
        AWS_DEFAULT_REGION: 'us-east-1'
    - task: PublishBuildArtifacts@1
      inputs:
        PathtoPublish: '$(System.DefaultWorkingDirectory)/terraform/environments/dev/tfplan'
        ArtifactName: 'tfplan'
        publishLocation: 'Container'
    - task: TerraformTaskV4@4
      name: planShow  # Logs detailed output
      inputs:
        command: 'show'
        workingDirectory: '$(System.DefaultWorkingDirectory)/terraform/environments/dev'
        environmentServiceNameAWS: 'aws-tf-connection'
        commandOptions: 'tfplan'
    - task: PublishPipelineArtifact@1
      inputs:
        targetPath: '$(System.DefaultWorkingDirectory)/terraform/environments/dev'
        artifact: 'plan-logs'