- name: Update all packages
  yum:
    name: '*'
    state: latest

- name: Install docker
  yum:
    name: docker
    state: present

- name: Start and enable Docker service
  systemd:
    name: docker
    state: started
    enabled: yes

- name: Ensure docker group exists
  group:
    name: docker
    state: present

- name: Add ec2-user to docker group
  user:
    name: ec2-user
    groups: docker
    append: yes